<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  <form [formGroup]="form">

    @for (field of fields; track field.name) {

    @if (field.type === 'date') {
    <mat-form-field class="full-width">
      <mat-label>{{field.label}}</mat-label>
      <input matInput [matDatepicker]="datepicker" [formControlName]="field.name">
      <mat-datepicker #datepicker />
      <mat-datepicker-toggle [for]="datepicker" matSuffix />
    </mat-form-field>
    }

    @if (field.type === 'time') {
    <mat-form-field class="full-width">
      <mat-label>{{field.label}}</mat-label>
      <input matInput [matTimepicker]="timepicker" [formControlName]="field.name">
      <mat-timepicker #timepicker />
      <mat-timepicker-toggle [for]="timepicker" matSuffix />
    </mat-form-field>
    }

    @if (!field.type || field.type === 'text' || field.type === 'number') {
    <mat-form-field class="full-width">
      <mat-label>{{field.label}}</mat-label>
      <input matInput [type]="field.type || 'text'" [formControlName]="field.name" />
      @if (field.button) {
      <button matIconButton matSuffix (click)="field.button.callback(form.get(field.name)?.value, dialogRef)">
        <mat-icon>{{field.button.icon}}</mat-icon>
      </button>
      }
    </mat-form-field>
    }
    }

  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <button matButton (click)="onCancel()">Cancelar</button>
  <button matButton (click)="onSave()">Ok</button>
</mat-dialog-actions>