html, 
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main{
  min-height: 100vh;
}

.full-width {
  width: 100%;
}

.padding-p {
  padding: 8px !important;
}
.padding-m {
  padding: 16px !important;
}
.padding-g {
  padding: 24px !important;
}