<mat-form-field class="full-width">
    <mat-label>Senha</mat-label>
    <input matInput [formControl]="control" [type]="hide() ? 'password' : 'text'" [placeholder]="placeholder" />
    <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()">
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    @if (passwordErros) {
    <mat-error>{{ passwordErros }}</mat-error>
    }
</mat-form-field>